* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: rgb(222, 229, 246);
}

header {
    background-color: rgba(240, 248, 255, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 20px;
}

.payAPIheader {
    display: flex;
    padding: 20px;
    gap: 80px;
}

.a {
    color: black;
}

button {
    background-color: #BA4270;
    font-size: 15px;
    border-radius: 24px;
    width: 173px;
    height: 48px;
    color: white;
    border: none;
}

.phmessage2 {
    width: 303px;
    height: 500px;
    position: absolute;
    left: 930px;
    top: 146px;
}

.h1 {
    position: absolute;
    left: 165px;
    top: 240px;
    font-size: 72px;
    color: #36536B;
}

.codeimg {
    width: 445px;
    height: 304px;
    left: 190px;
    position: absolute;
    top: 823px;
}

.h1code {
    color: #36536B;
    position: absolute;
    top: 880px;
    left: 760px;
}

.pcode {
    color: #36536B;
    position: absolute;
    top: 960px;
    left: 760px;
}

.Financesdiv {
    text-align: center;
    color: #36536B;
    position: absolute;
    top: 1280px;
    left: 230px;
}

.Bankingdiv {
    text-align: center;
    color: #36536B;
    position: absolute;
    top: 1280px;
    left: 615px;
}

.Consumerdiv {
    text-align: center;
    color: #36536B;
    position: absolute;
    top: 1280px;
    left: 995px;
}

footer {
    background-color: #1B262F;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aa {
    color: white;
}